/* font family import form google font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Azeret Mono;
    color: #0D1321;
}
/* this my navigation ber section css */
.nav-parent-section-div{
    display: flex; 
    text-align: center;
    justify-content: space-between;
    justify-items: center;
    margin-left: 150px; 
    margin-right: 150px;
}
.nav-name-text{
    font-size: 28px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 48px;
}
.nav-download-btn{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    border: 1px solid #0D1321 ;
    opacity: 0.8;
    margin-top: 36px;
    margin-bottom: 38px;
}
/* This is hero section css style  */


.hero-section{
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    padding-top: 26px;
    margin-bottom: 154px;
}
.hero-elements-parent-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-section-h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;

}
.hero-section-h4{
    margin-bottom: 42px;
    font-weight: 400;
    line-height:26px;
    opacity: 0.7;
    font-size: 16px;
    line-height: 26px;
}
.hero-section-btn{
    color: #FFF;
    background-color: #0D1321;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    gap: 10px;
    border-radius: 8px; 
}
/* this is why web development section */

.main-section-2{
    margin-left: 250px;
    margin-right: 250px;

}
.why-web-development-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-web-development-h1{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.why-web-development-h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.i-do-coding-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 128px;
}
.i-do-coding-child-1{
    margin-top: 8px;
    display: flex;
    flex-direction: column;


}
.i-do-coding-child-h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    opacity: 0.7;

}
.i-do-coding-child-h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 26px;
    margin-bottom: 42px;
}
.i-do-coding-child-btn{
    font-size: 20px;
    color: #0D1321 ;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    text-decoration: none;
}
.i-help-modern-system-parent{
    display: flex;
    margin-top: 96px;
    margin-bottom: 128px;
}
.i-help-modern-system-child-1{
    margin-top: 8px;
    display: flex;
    flex-direction: column;


}
.i-help-modern-system-child-h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    opacity: 0.7;

}
.i-help-modern-system-child-h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 26px;
    margin-bottom: 42px;
}
.i-help-modern-system-child-btn{
    font-size: 20px;
    color: #0D1321 ;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    text-decoration: none;
}

